<div id="fake-configurable-items-wrapper" data-bind="if: shouldShowBrothers">
    <div class="label" data-bind="text: brotherLabel"></div>
    <div class="items-wrapper">
        <ul class="items" data-bind="foreach: { data: products, as: 'product' }">
            <li class="item">
                <a class="brother-url" data-bind="attr:{href: product.product_url, alt: product.name}">
                    <img class="brother-image" data-bind="attr:{src: product.image_url}" />
                </a>
            </li>
        </ul>
    </div>
</div>
