<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/config.xsd">
    <default>
        <fakeconfigurable>
            <general>
                <brother_label>Color</brother_label>
                <brother_attribute>0</brother_attribute>
                <include_current_product>0</include_current_product>
            </general>
        </fakeconfigurable>
    </default>
</config>
