<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="dnafactory" translate="label">
            <label>DNAFactory</label>
        </tab>
        <section id="fakeconfigurable" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Fake Configurable</label>
            <tab>dnafactory</tab>
            <resource>DNAFactory_FakeConfigurable::fakeconfigurable</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="brother_label" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Brother Label</label>
                </field>
                <field id="brother_attribute" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Brother attribute</label>
                    <source_model>DNAFactory\FakeConfigurable\Model\Config\Source\ProductAttributes</source_model>
                </field>
                <field id="use_brother_attribute_image" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Use Brother attribute image</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="include_current_product" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Include current product</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
